.btn {
    display: inline-block;
    background: transparent;
    border: 1px solid transparent;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    user-select: none;
    transition: all .4s;
    line-height: 1.5;
    border-radius: pxToRem(3);
}

.btn-auth {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 39px;
    width: 100px;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    background: #4a84ff;
    cursor: pointer;
    &:focus {
        outline: 0;
    }
    &.btn-logout {
        position: absolute;
        right: 30px;
        top: 15px;
    }
    &:hover {
        background: #184dff;
    }
}

.btn-dark {
    color: #eee;
    background-color: rgba(19,19,21,.5);
    border: 3px solid #d538ff;
    position: relative;
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
    padding: pxToRem(10) pxToRem(16);
    font-size: pxToRem(20);
    line-height: 1.33;
    border-radius: 3px;
    &:hover {
        color: #fff;
        border: 3px solid #fff;
        text-decoration: none;
    }
}


.btn-cameo-light {
    width: 100%;
    border: 3px solid #000;
    color: #000;
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .4s;
    padding: pxToRem(6) pxToRem(19);
    &:hover {
        color: #333;
        border: 3px solid #999;
        text-decoration: none;
    }
}


.login-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fetch-request {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.btn-fetch {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 39px;
    width: 130px;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    background: #4a84ff;
    cursor: pointer;
}
