.Header {
    position: relative;
    z-index: 1000;
    padding: pxToRem(15);
    &.isPageHome {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        nav {
            .navItem {
                color: #fff;
            }
        }
    }
    .container {
        display: flex;
        justify-content: space-between;
    }
    .logo {
        a {
            display: flex;
            align-items: center;
            img {
                width: pxToRem(40);
                margin-right: pxToRem(20);
            }
        }
    }

    nav {
        display: flex;
        .navItem {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #333;
            font-size: pxToRem(18);
            font-weight: 400;
            margin-left: pxToRem(16);
            border-bottom: 2px solid transparent;
            line-height: 1;
            cursor: pointer;
            &:hover {
                border-color: #ff5252;
            }
        }
    }
}
