.ImageCard {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    transition: all .4s cubic-bezier(.175,.885,.32,1.275);
    border-radius: 5px;
    box-shadow: 4px 4px 17px hsla(0,0%,85.9%,.5);
    .thumb {
        position: relative;
        overflow: hidden;
        a {
            background: 50% / cover no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
            height: pxToRem(266);
            img {
                height: 100%;
                max-width: initial;
            }
            .price {
                position: absolute;
                right: pxToRem(11);
                top: pxToRem(11);
                display: flex;
                align-items: center;
                color: #fff;
                font-weight: 300;
                font-size: pxToRem(15);
                background-color: rgba(0,0,0,.4);
                border-radius: pxToRem(15);
                padding: pxToRem(1) pxToRem(14);
                height: pxToRem(24);
            }

            .label {
                position: absolute;
                left: 0;
                bottom: pxToRem(11);
                display: block;
                width: pxToRem(58);
                height: 0;
                color: #fff;
                font-weight: 600;
                font-size: pxToRem(14);
                border-color: #fa005c transparent #fa005c #fa005c;
                border-style: solid;
                border-width: pxToRem(12) pxToRem(6) pxToRem(12) pxToRem(46);
                span {
                    position: absolute;
                    left: pxToRem(-23);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    font-size: pxToRem(14);
                    white-space: nowrap;
                    color: #fff;
                }
            }
        }
    }

    .desc {
        height: pxToRem(86);
        padding: pxToRem(10) pxToRem(12);
        .profession {
            color: #6c6c6c;
            font-size: pxToRem(13);
        }
        .name {
            font-size: pxToRem(19);
            font-weight: 500;
            color: #4d4d4d;
            word-wrap: break-word;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: pxToRem(3);
        }
        .categories {
            display: flex;
            align-items: center;
            margin-top: pxToRem(6);
            a {
                font-size: pxToRem(13);
                color: #6c6c6c;
                white-space: nowrap;
                display: flex;
                align-items: center;
                + a {
                    &:before {
                        content: '';
                        width: pxToRem(3);
                        height: pxToRem(3);
                        border-radius: 50%;
                        background: #333;
                        display: block;
                        margin: 0 pxToRem(5);
                    }
                }
            }
        }
    }
}
