.VideoCard {
    position: relative;
    height: pxToRem(350);
    video {
        height: 100%;
        width: 100%;
    }
    .preview {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .icon-play {
        position: absolute;
        left: pxToRem(20);
        bottom: pxToRem(20);
        transition: .5s;
        cursor: pointer;
        &:hover {
            transform: scale(1.2);
        }
        img {
            width: pxToRem(60);
            height: pxToRem(60);
        }
    }
}
