html {
  @include screen-sm {
    font-size: 4.4444vw;
  }
}

body {
  font-family: 'Cabin Condensed', 'Noto Sans KR', 'dotum', 'gulim' , 'sans-serif';
  word-break: break-word;
  font-weight: 400;
  line-height: 1;
  letter-spacing: pxToRem(-0.4);
}

/* layout */
body,html{height:100%;}

/* short cut*/
.pull-left{float:left;}
.pull-right{float:right;}
.por{position:relative;}
.poa{position:absolute;}
.pof{position:fixed;}
.text-ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

.blind {position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 pxToRem(15);
}

// grid 12column
@for $i from 1 through 12 {
  .col-#{$i} {
    width: 100% / 12 * $i * 1"%";
  }
}





.h2 {
  font-size: pxToRem(25);
  font-weight: 700;
  margin-bottom: pxToRem(12);
  line-height: 1.1;
}

p {
  margin-bottom: 1em;
}





.ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 1.2;

  &.ellipse-2 {
    -webkit-line-clamp: 2;
  }

  &.ellipse-3 {
    -webkit-line-clamp: 3;
  }
}
