/* reset */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section,summary{display:block;}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}
dfn{font-style:italic;}
audio:not([controls]){display:none;height:0;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,q:before, q:after{content:none;}
table{border-collapse:collapse;border-spacing:0;}
strong{font-weight:bold;}
small{font-size:80%;}
button,input,optgroup,select,textarea{color:inherit;font:inherit;padding:0;margin:0;-webkit-border-radius:0;}
button,select,option{text-transform:none;}
button,html input[type="button"], input[type="reset"],input[type="submit"]{-webkit-appearance:none;cursor:pointer;-webkit-border-radius:0;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
input{line-height:normal;}
input[type="checkbox"],input[type="radio"]{padding:0;}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto;}
input[type="search"]{-webkit-appearance:textfield;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
textarea{overflow:auto; resize: none;}

[type="text"], [type="num"], [type="tel"], [type="file"], [type="password"], [type="email"], [type="search"], [type="url"], textarea{ padding: 8px;}
[type="text"]:focus, [type="num"]:focus, [type="tel"]:focus, [type="file"]:focus, [type="password"]:focus, [type="email"]:focus, [type="search"]:focus, [type="url"]:focus, textarea:focus{outline:0;}

.clearfix:after {content:'';display:table;clear:both;}
*, *:after, *:before{-webkit-box-sizing:inherit;-moz-box-sizing:inherit;box-sizing:inherit;}
html{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

img{vertical-align:top;max-width:100%;}

a{background:transparent;color:#333;text-decoration:none;&:focus, &:hover, &:active{text-decoration:none;outline:0;}}

::-webkit-input-placeholder{color:#bbb;}
:-moz-placeholder{color:#bbb;}
::-moz-placeholder{color:#bbb;}
:-ms-input-placeholder{color:#bbb;}


input::selection,
textarea::selection {background: #80d0ca; color: #fff;}

* {
    -webkit-user-select: inherit;
    -moz-user-select: inherit;
    -ms-user-select: inherit;
    user-select: inherit;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

em {
    font-style: normal;
}

.p {
    margin-bottom: 1em;
}



