//mixin usage

@mixin grid($col) {
  display: grid;
  grid-template-columns: repeat($col, 1fr);
  grid-column-gap: pxToRem(15);
  grid-row-gap: pxToRem(15);
}

@mixin lineClamp($row) {
  display: -webkit-box;
  -webkit-line-clamp: $row;
  -webkit-box-orient: vertical;
}

@mixin lineFade($h, $w: 70) {
  position: relative;
  overflow: hidden;
  height: pxToRem($h); /* exactly three lines */
  &:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: $w * 1%;
    height: 1.1em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
  }
}

@mixin gradientHighlight($color) {
  line-height: 1.3;
  padding: 0 0.15em;
  background-image: linear-gradient(0, $color 73%, transparent 27%);
}

@mixin overlay($alpha){
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, $alpha);
}

// transition
@mixin transition($value) {
  -webkit-transition: all $value+s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all $value+s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all $value+s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all $value+s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all $value+s cubic-bezier(0.77, 0, 0.175, 1);
}
@mixin transitionDelay($value) {
  -webkit-transition-delay: $value+s;
  -moz-transition-delay: $value+s;
  -ms-transition-delay: $value+s;
  -o-transition-delay: $value+s;
  transition-delay: $value+s;
}

// translate
@mixin translate($valueX, $valueY) {
  -webkit-transform: translate($valueX+px, $valueY+px);
  -moz-transform: translate($valueX+px, $valueY+px);
  -ms-transform: translate($valueX+px, $valueY+px);
  -o-transform: translate($valueX+px, $valueY+px);
  transform: translate($valueX+px, $valueY+px);
}


// scale
@mixin scale ($value){
  -webkit-transform: scale($value);
  -moz-transform: scale($value);
  -ms-transform: scale($value);
  -o-transform: scale($value);
  transform: scale($value);
}

// material box- shadow
@mixin box_shadow ($level) {

  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.1);
  } @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  } @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  } @else if $level == 4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  } @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

}


// Responsive ratio
@mixin responsive-ratio($x,$y, $pseudo: false) {
  $padding: unquote( ( $y / $x ) * 100 + '%' );
  @if $pseudo {
    &:before {
      @include pseudo($pos: relative);
      width: 100%;
      padding-top: $padding;
    }
  } @else {
    padding-top: $padding;
  }
}



// Placeholders
@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}


// Media queries

@mixin screen-md {
  @media only screen and (max-width: 992px) {
    @content;
  }
}

@mixin screen-sm {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

