.Category {
    .content {
        display: flex;
        nav {
            margin-right: pxToRem(20);
            .CategoryName {
                width: pxToRem(165);
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding: pxToRem(9) pxToRem(18);
                margin-bottom: pxToRem(7);
                line-height: pxToRem(24);
                color: #4d4d4d;
                background: #f7f7f7;
                border-radius: pxToRem(30);
                .count {
                    color: #a1a1a1;
                }
            }
        }

        .userList {
            display: flex;
            flex-wrap: wrap;
            .item {
                width: 25%;
                padding: 0 pxToRem(10);
                margin-bottom: pxToRem(20);
                .ImageCard {

                }
            }
        }
    }
}
