.Home {
    .section-title {
        font-size: pxToRem(30);
        text-align: center;
        margin-bottom: pxToRem(15);
        font-weight: 500;
        color: #4D4D4D;
    }
}

.Visual {
    position: relative;
    height: pxToRem(560);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    video {
        position: absolute;
        z-index: 1;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }

    .videoFilter {
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        background: #270b2f;
        opacity: .7;
    }

    .text {
        position: relative;
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.1px;

        img {
            max-width: pxToRem(245);
            margin-bottom: pxToRem(30);
        }

        h1 {
            font-size: pxToRem(26);
            margin: pxToRem(20);
            color: #fff;
            font-weight: 400;
            line-height: 1.1;
            text-align: center;
        }
    }
}

.Featured {
    padding: pxToRem(50) 0 0;
    background: #000;
    .container {
        display: flex;
    }
    .text {
        flex: 4 0 0;
        p {
            color: rgb(170, 170, 170);
            font-weight: 600;
            line-height: 1.5;
            i {
                margin-right: pxToRem(16);
            }
        }

        h2 {
            color: rgb(213, 56, 255);
            margin-top: 0;
            font-size: 50px;
            font-weight: 600;
        }
    }

    .thumb {
        flex: 6 0 0;
    }
}


.NewThisWeek {
    padding: pxToRem(70) pxToRem(10);
    h2 {
        font-size: pxToRem(30);
        text-align: center;
        margin-bottom: pxToRem(50);
    }
    .userList {
        display: flex;
        overflow-x: auto;
        padding-bottom: pxToRem(30);
        .item {
            padding: 0 pxToRem(15);

        }
        .ImageCard {
            width: pxToRem(172);
            .thumb {
                height: pxToRem(207);
            }
            .desc {
                height: pxToRem(61);
                .categories {
                    display: none;
                }
            }
        }
    }
}

.videos {
    .Home & {
        display: flex;
        flex-wrap: wrap;
        .inner {
            padding: 0 10% pxToRem(30);
        }

        .VideoCard {
            border-radius: pxToRem(10);
            overflow: hidden;
            video, .preview {
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                max-height: pxToRem(350);
                min-height: pxToRem(350);
                object-fit: cover;
                border-radius: pxToRem(10);
            }

            .btn-cameo-light {
                width: 100%;
            }
        }


        .VideoCard + p {
            padding-top: pxToRem(12);
            font-size: pxToRem(18);
            font-weight: 300;
            color: #333;
            height: pxToRem(76);
            a {
                font-weight: 500;
                color: #000;
                margin: 0 pxToRem(5);
            }
        }
    }
}



.CameoVideos {
    .videos {
        display: flex;
        flex-wrap: wrap;
        .inner {
            padding: 0 10% pxToRem(30);
        }

        .VideoCard + p {
            padding-top: pxToRem(12);
            font-size: pxToRem(18);
            font-weight: 300;
            color: #333;
            height: pxToRem(76);
            a {
                font-weight: 500;
                color: #000;
                margin: 0 pxToRem(5);
            }
        }
    }
}



.ReactionVideos {
    padding: pxToRem(50) 0;
    text-align: center;
}

